.contact-container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.contact-img{
    width: 50%;
    background-image: url("../assets/fooda.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.contact-info{
    width: 50%;
    padding-top: 85px;
    margin: 0 10px;
}

.form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;  
}

label{
    margin-bottom: 10px;
}

input{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
}

input:focus{
    outline: none;
}

.send-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    margin-top: 10px;
}

.send-btn:hover {
    background-color: rgb(46, 46, 46);
  }